
.container{
    display: grid;
}


.feedDiv{
    display: grid;
    gap: 1rem;
    padding: 4%;
}



.filteredListImg{
    display: grid;
    max-height: 150px
    object-fit: cover;

}
.feedItem{
    display: grid;
}
.filteredListInfo{
    display: grid;
}
