div.addPlaceInputField {
    background-color: antiquewhite;
}

div.addPlacePage {
    border: black 1px solid;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h2.addPlaceHeader {
    text-align: center;
    font-weight: 100;
}

.star-rating {
    background-color: aliceblue;
}

.star {
  color: #ccc; /* Default star color */
  font-size: 20px;
}

.star:hover {
  cursor: pointer;
  color: gold;
}

.starFilled {
  color: gold; /* Filled star color */
}