
.star {
  color: #5B8AB3; /* Default star color */
  font-size: 20px;
}

.star:hover {
  cursor: pointer;
  color: gold;
  font-size: 2rem;
}

.starFilled {
  color: gold; /* Filled star color */
}

.addPlaceDiv {
  place-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 'header' 'inputs' 'categories' 'rating' 'image' 'submit'; 
}

h2.addPlaceHeader {
  font-family: "Roboto Mono", monospace;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0.2em;
    color:  #5B8AB3;
}


div.addPlaceInputSection {
  grid-area: 'inputs';
  margin-bottom: 5px;
}


div.addPlaceCategorySection {
  grid-area: 'categories';
  margin-bottom: 5px;

}

div.addPlaceRatingSection {
  grid-area: 'rating';
  text-align: left;
}

div.addPlaceImageSection {
  grid-area: 'image';
  margin-bottom: 5px;
}


div.addPlaceSubmitSection {
  grid-area: 'submit';  
  margin-bottom: 5px;
}


button.addPlaceButton {
    background-color: #5B8AB3;
    border-radius: 8px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px 12px;
    text-align: center;
    width: 150px;
    font-family: "Afacad", sans-serif;
}


.addPlaceInput {
    background-color: #E6F3FF;
    border-radius: 8px;
    border: 2px solid #5B8AB3;
    color: #5B8AB3;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 10px 12px;
    text-align: center;
    width: 150px;
    font-family: "Afacad", sans-serif;
}

.addPlaceText {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.2em;
    color:  #5B8AB3;
}