h2.addPlaceHeader {
    text-align: center;
    font-weight: 100;
}

.star {
  color: #ccc; /* Default star color */
  font-size: 20px;
}

.star:hover {
  cursor: pointer;
  color: gold;
}

.starFilled {
  color: gold; /* Filled star color */
}

div.addPlaceSection {
  margin-bottom: 5px;
}

