#feedDiv {
    display: grid;
    text-align: center;
}

.filteredListImg {
    width: 273px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    /* text-align: center; */
    /* align-items: center; */
}

div.feedItem {
    border: black 1px solid;
    background-color: #e6f3ff;
    margin: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'img'
        'info';
    box-shadow: 4px 5px 10px 7px rgba(1, 1, 1, 0.1);
}

div.filteredListImg {
    grid-area: 'img';
    justify-self: center;
}

div.filteredListInfo {
    grid-area: 'info';
    padding: 5px;
}

.feedItem:hover {
    border: 2px black solid;
}

.filteredListInfo {
    display: grid;
}

.deleteBtn {
    background-color: red;
}

.mainFeedButton {
  background-color: #5B8AB3;
  border-radius: 8px;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  padding: 5px 12px;
  text-align: center;
  width: 120px;
  height: 29px;
  font-family: "Afacad", sans-serif;
}

.mainFeedInput {
  background-color: #E6F3FF;
  border-radius: 8px;
  border: 2px solid #5B8AB3;
  color: #5B8AB3;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 1px 2px;
  text-align: center;
  width: 150px;
  font-family: "Afacad", sans-serif;
}

.deleteBtn {
  background-color: #5B8AB3;
  border-radius: 8px;
  border-width: 0;
  color: #FFFFFF; 
  justify-self: end;
  margin-right: 5px;
}

.deleteBtn:hover {
  background-color: red;
  border-width: 2px;
}