#feedDiv {
  display: grid;
  text-align: center;
}
.filteredListImg {
  width: 273px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  /* text-align: center; */
  /* align-items: center; */
}

div.feedItem {
  border: black 1px solid;
  margin: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:  'img'
                        'info';
  
}

div.filteredListImg {
  grid-area: 'img';
  justify-self: center;
}

div.filteredListInfo {
  grid-area: 'info';
  padding: 5px;
}

.feedItem:hover {
  border: 2px black solid;
}

.filteredListInfo {
  display: grid;
}
