button.registerButton {
    background-color: lightgray;
    border-radius: 8px;
    border-width: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px 12px;
    text-align: center;
    width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registerDiv {
    display: grid;
    place-items: center;
    text-align: center;
}

.registerInput {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #ccc;
    color: #000;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 10px 12px;
    text-align: center;
    width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registerText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0.2em
}