#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
    border-radius: 15px;
    background-color: white;
    padding: 0px 10px 10px 0px;
    margin-top: 10px;
    overflow: auto;
}

main {
    padding-top: 60px;
}

#demoNavigation {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    /* z-index: 1000; */
    position: fixed;
    background-color: white;
    /* box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.294); */
    width: 300px;
    border-radius: 15px 15px 1px 1px;
    /* border-bottom: black solid 1px;
    border-right: black solid 1px; */
    /* padding: 1px 3px 30px 5px; */
    /* height: 20px; */
}

footer {
    position: fixed;
}


body {
    background-color: darkgray;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
  border: black solid 1px;
  margin-top: 60px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:burlywood;
  border-radius: 15px;
  border: black solid 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: burlywood; 
}
