#container {
    font-family: "Afacad", sans-serif;
    max-width: 300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
    border-radius: 15px;
    background-color: #D8ECFF;
    padding: 0px 0px 10px 0px;
    margin-top: 10px;
    overflow: auto;

    /* Bakgrunn med grid */
    background-color: #D8ECFF; 
    background-image:
        linear-gradient(#C8E2FA 1px, transparent 1px),  /* horisontale linjer */
        linear-gradient(90deg, #C8E2FA 1px, transparent 1px); /* vertikale linjer */
    background-size: 40px 40px; /* størrelse på rutene */
}

main {
    padding-top: 69px;
}

#demoNavigation {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #E6F3FF;
    font-family:"Roboto Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    /* z-index: 1000; */
    position: fixed;
    background-color: #5B8AB3;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.294);
    width: 300px;
    border-radius: 15px 15px 1px 1px;
    border-bottom: black solid 1px;
    /* border-right: black solid 1px; */
    /* padding: 1px 3px 30px 5px; */
    /* height: 20px; */
}

img.header {
  width: 30px;
  margin-right: 10px;
}

footer {
    position: fixed;
}

body {
    background-color: #5b8ab345;
}

/* width */
::-webkit-scrollbar {
  display: none;
}


/* mulig alt det under her er unødvendig ??? */
#container::-webkit-scrollbar {
  display:none;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
  border: black solid 1px;
  margin-top: 60px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:burlywood;
  border-radius: 15px;
  border: black solid 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: burlywood; 
}
